@media(max-width: 1120px){
  .cabecalho .imagem-principal{
    max-width: 193px;
    margin-top: 2em;
  }   


.selecao-de-personagens{
    flex-direction: column-reverse;
    max-width: 430px;
    margin: 0 auto;
}

.selecao-de-personagens .personagens{
    margin-top: 110px;
    box-shadow: 0px 0px 24px 5px black;
    background-color: rgba(0, 0, 0, 0.134);
}

.selecao-de-personagens .personagens .titulo{
    font-size: 15px;
}

.selecao-de-personagens .lista-de-personagens{
    gap: 9px;
}

.selecao-de-personagens .personagem img{
    width: 80px;
}

.personagem-selecionado .personagem-grande{
    width: 350px;
    height: 350px;
}

.personagem-selecionado .descricao-personagem{
    height: 80%;
    font-size: 16px;
    margin: 20px auto;

}

}