@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    list-style: none;
}

body{
 background-image: url(./src/img/tt.jpg) ;
}

.imagem-principal{
    position: relative;
    top: 4px;
}

body::before{
    content: '';
    background-image: url(./src/img/tela.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    /* opacity: 0.2; */

}
.cabecalho{
    display: flex;
    justify-content: center;
}

.selecao-de-personagens{
    display: flex;
    align-items: center;
    gap: 30;
    min-height: calc(100vh - 152px);
    justify-content: center;
}

.selecao-de-personagens .lista-de-personagens{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.selecao-de-personagens .personagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
    
}

.selecao-de-personagens .personagens .titulo{
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 2px solid #6BA742;
    width: 100%;
    text-align: center;
}

.lista-de-personagens .personagem img{
    width: 100%;
    height: 100%;
}

.lista-de-personagens .personagem.selecionado{
    box-shadow: 0px 0px 24px 5px #f2f2f2;
}

.personagem-selecionado{
    text-align: center;
    max-width: 530px;
}

.personagem-selecionado .personagem-grande{
    width: 450px;
    height: 450px;
}

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #6BA742;
    width: 80%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 1em;
}

.personagem-selecionado .descricao-personagem{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 17px;
    width: 400px;
}